.container {
    width: 100%;
    margin: auto;
    padding: 0.5rem;
    border: 1px solid red
}

.hidden {
    display: none !important;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.start {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start__content {
    text-align: center;
}

.question {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question__choice {
    display: flex;
    justify-content: left;
    align-items: left;
}

.rightwrong {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.highscore__screen {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 2rem;
}

.highscore__input__text {
    padding-bottom: 2rem;
}